html, body{
  background-color:#eee;
}
*{
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

h1, h2, h3, h4, h5, h6, select, input, textarea, div, section, article, header{
  margin:0px;
  padding:0px;
}
.headingMedium{
  font-size:1rem;
}
.headingSmall{
  font-size:0.85rem;
}
.prgrphLarge,
.prgrphLarge + .prgrphVal{
  font-size:0.85rem;
}

.btn-xx-small{
  font-size: 0.7rem;
  padding: 0.3rem;
}
.cstmForm .form-label {
  font-size:0.85rem;
}
.cstmForm .form-control,
.cstmForm .form-select{
  background-color:#f9f9f9;
}
